<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626140c7f27a3c278635d7a05751c1a4:b3731ca18920e2cebcd298471e4108e6:54dede7db9d1a26f75a5501daeab9d77$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>esk_atlas.1.png</string>
                <key>size</key>
                <string>{1992,512}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_9.png</string>
                        <key>spriteOffset</key>
                        <string>{63,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{214,292}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Jumping Sprites/jump_5.png</string>
                        <key>spriteOffset</key>
                        <string>{63,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1,295},{292,214}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_4.png</string>
                        <key>spriteOffset</key>
                        <string>{73,24}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{217,1},{194,292}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Stationary/standing.png</string>
                        <key>spriteOffset</key>
                        <string>{67,27}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{295,295},{286,206}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_5.png</string>
                        <key>spriteOffset</key>
                        <string>{69,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{413,1},{202,288}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_10.png</string>
                        <key>spriteOffset</key>
                        <string>{67,27}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{583,291},{286,206}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Jumping Sprites/jump_1.png</string>
                        <key>spriteOffset</key>
                        <string>{69,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{617,1},{202,288}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Jumping Sprites/jump_3.png</string>
                        <key>spriteOffset</key>
                        <string>{53,29}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{821,1},{234,284}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_1.png</string>
                        <key>spriteOffset</key>
                        <string>{67,29}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{871,287},{282,206}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_7.png</string>
                        <key>spriteOffset</key>
                        <string>{58,29}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1057,1},{234,282}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Jumping Sprites/jump_2.png</string>
                        <key>spriteOffset</key>
                        <string>{68,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1155,285},{280,204}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_2.png</string>
                        <key>spriteOffset</key>
                        <string>{56,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1293,1},{228,276}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_3.png</string>
                        <key>spriteOffset</key>
                        <string>{54,36}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1437,279},{268,232}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_6.png</string>
                        <key>spriteOffset</key>
                        <string>{68,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1523,1},{204,276}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Running Sprites/run_8.png</string>
                        <key>spriteOffset</key>
                        <string>{50,39}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1729,1},{262,240}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Jumping Sprites/jump_4.png</string>
                        <key>spriteOffset</key>
                        <string>{25,46}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,340}</string>
                        <key>textureRect</key>
                        <string>{{1729,243},{240,266}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
